# use glob syntax.
syntax: glob
scripts/change_name.sh
*.so
*.so.[0123456789]
*.so.[0123456789].[0123456789]
*.o
*.a
*.dylib
*~
*CMakeFiles*
.DS_Store
*tags
*.exe
*.pdb
*.sdf
*.suo
*.ilk
*.log
*.tlog
Debug/
Release/
*.orig
*.user
*.vsp
*.opensdf
*.psess
*.swp
*.swo
*.pyc
